* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    text-align: justify;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.conteudo-principal {
  flex: 1 1 0;
  background-color: transparent;
}


/* VARIÁVEIS DE COR */

:root {
    --cor-primaria: #010176;
    --cor-fundo: white;
    --cor-texto: black;
}

/* VARIÁVEIS DE COR */


/* CABEÇALHO */

header.topo {
    width: 100%;
    height: auto;
}

.logo img {
    width: 500px;
    margin-top: 25px;
    margin-left: 35px;
}

.lista-menu {
    width: 100%;
    height: 28px;
    text-align: right;
    background-color: var(--cor-primaria);
}

.lista-menu li {
    display: inline;
    padding-inline: 25px;
    list-style: none;
}

.lista-menu li:last-child {
    margin-right: 50px;
}

.menu nav ul li a {
    color: #FFF;
    text-decoration: none;
}

.container-logo {
    display: flex;
    justify-content: space-between;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    margin-right: 35px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 300px;
    outline: none;
}

.container-logo button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--cor-primaria);
    color: white;
    cursor: pointer;
}

.container-logo button:hover {
    background-color: #4954f8;
}



/* CABEÇALHO */


/* CONTEÚDO PRINCIPAL */

.wallpaper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wallpaper img {
    width: 95%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

h3 {
    margin-top: 16px;
    margin-bottom: 26px;
    padding-inline-start: 16px;
    font-size: 28px;
    font-weight: 900;
}


/* CONTEÚDO PRINCIPAL */


/* RODAPÉ */

footer {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: 10px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8436624649859944) 31%, rgba(58,45,253,0) 100%), url(/images/entrada-escola.jpeg);
    background-position: 5px;
    background-size: cover;
    color: #fffdfd;
    text-align: center;
    padding: 20px;
}

.redes-sociais img {
    width: 18px;
    margin: 20px;
    cursor: pointer;
}

/* RODAPÉ */