/* CABEÇALHO */

.info-header {
    justify-content: space-evenly;
}

.contato-header:last-child p {
    font-size: 0;
}




.lista-menu {
    display: none;
}

#btn-menu {
    width: 50px;
    height: 35px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#btn-menu .linha {
    width: 40px;
    height:5px;
    border-radius: 10px;
    background-color: #818181;
    display: block;
    position: relative;
    transform-origin: center;
    transition: 0.3s;
}


#btn-menu.ativado .linha:nth-child(1) {
    transform: translateY(15px) rotate(-45deg);
}

#btn-menu.ativado .linha:nth-child(2) {
    width: 0x;
    height: 0px;
    background-color: aqua;
}

#btn-menu.ativado .linha:nth-child(3) {
    transform: translateY(-14px) rotate(45deg);
}

/* CABEÇALHO */


/* RODAPÉ */

footer {
    grid-template-areas: 
    "contatos"
    "medias";
}

/* RODAPÉ */